# Compiled binaries
aslr_examp
print_mem
stack_demo
int_overflow
.clang-format
pass.bin

# Temporary files created by the OS or various tools
*.o
*.swp
*~

# Directories created by the IDE or other tools
.vscode/
.idea/

# Other common files to ignore
.DS_Store

gui.py

gui